.link-customizado {
  color: #a0a0a0;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.link-customizado:hover, .link-customizado.active {
  color: #bb86fc;
}